.projects-section {
  padding-top: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f8f9fa;
  color: black; /* Adjust text color for better visibility against the background */
  height: 100vh; /* Make the section span the whole screen height */
}

.fixed-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  z-index: 1000;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.scrollable-container {
  padding-top: 80px; /* Make space for the fixed title */
  max-height: 80vh; /* Adjust this value as needed */
  overflow-y: auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.project-title {
  font-size: 1.5em;
  margin: 0;
}

.project-description {
  margin: 0;
}

.project-link {
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

.project-link.disabled {
  color: grey;
  pointer-events: none;
}

.footer {
  margin-top: auto;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer .social-icon {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}

.footer .social-icon:hover {
  color: #007bff;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .container p {
  margin: 10px 0 0;
}
